@import "./mixins";



.statsShell {
  width: 100%;
  max-width: 600px;
  margin: 1.5em auto 2em;
  display: inline-block;

  &:before,
  &:after {
    content: "";
    display: block;
    border: 1px solid $charcoal;
    width: 100%;
    height: 0.33rem;
    background-color: $charcoal;
  }
}

.statBlock {
  background-color: $white;
  display: block;
  font-size: 0.9em;
  line-height: 1.4em;
  font-family: $fira;
  // column-count: 2;
  column-span: all;
  padding: 1em 0;
  position: relative;

  h3 {
    font-size: 1.66em;
    margin: 0.5rem 0 0;
    color: $dndGreen;
    letter-spacing: 0.1em;
  }

  h4 {
    font-size: 1.66em;
    margin: 1em 0 0;
    color: $dndGreen;
    letter-spacing: 0.075em;
    border-bottom: 1px solid $dndGreen;
  }

  .copy {
    position: absolute;
    right: 1em;
    top: 1em;
    border: 0;
    cursor: pointer;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    padding: 0.66em 1em;
    background-color: transparent;
    color: $lightText;
    border-radius: 3px;

    &:hover {
      background-color: rgba($charcoal,0.95);
    }
  }

  .grouping {
    margin: 0 1.5em;
    border-bottom: 2px solid $dndGreen;
    break-inside: avoid;
    font-size: 0.95em;

    &:last-of-type {
      border-bottom: 0;
    }

    p {
      margin: 0.5em 0;

      &.typeAlignment {
        display: block;
        margin-top: 1em;
        text-transform: capitalize;
      }

      strong {
        color: $dndGreen;
        margin-right: 0.33em;
        letter-spacing: 0.075em;
      }
    }

    &.basics,
    &.general {
      p {
        color: $dndGreen;
      }
    }

    &.stats {
      .block {
        text-align: center;
        display: inline-block;
        margin: 0.66em 1em;

        .numerical {
          font-size: 1.15em;

          small {
            font-size: 0.85em;
          }
        }

        strong {
          display: block;
          text-transform: uppercase;
        }
      }
    }

    &.abilities,
    &.actions,
    &.reactions {
      border-bottom: 0;

      strong {
        color: $charcoal;
        font-style: italic;
      }
    }
  }
}

// MOBILE
@media all and (max-width: $breakpoint-mobile) {
  article.creature {
    width: 96%;
    margin: 0 2% 2em;

    div.mainContent {
      i.quote {
        padding: 0;
      }
    }

    h2.fullName {
      display: none;
    }

    aside.infoBox {
      width: 100%;
      max-width: 100%;
      display: block;
      margin: 0 auto 3em;
      float: none;

      img.portrait {
        border-top: 0;
      }
    }

    #statBlock {
      column-count: 1;

      .grouping {
        margin: 0 0.75em;

        &.stats {
          .block {
            width: 15%;
            margin: 0.66em 0.75%;
          }
        }
      }
    }
  }

  ul#creature {
    li.creature {
      img.portrait {
        height: 10em;
      }

      p.name {
      }
    }
  }

  .statsShell {
    .grouping {
      &.stats {
        .block {
          display: inline-block;
          padding: 1em 0;
          width: 6vw;
        }
      }
    }
  }
}
