@import "../../../styles/mixins";

.treasure {
  &__list {
    list-style: none;
    padding-left: 1em;

    .indent {
      margin-left: 2rem;
    }
  }

  &__itemDescriptions {
    color: $lightGray;
    font-size: 14px;
    line-height: 1.5em;
  }

  &__jewelryDescriptions {
    color: $dndGold;
    font-size: 14px;
  }

  &__chevron {
    color: $moodGreen;
  }

  &__primary {
    color: $white;
  }

  &__gpValue {
    color: $lightGray;
    font-size: 14px;
    line-height: 1.5em;
  }
}
