@import './mixins';

article.displayOutput {
  position: relative;
  display: block;
  width: 100%;

  padding: 0 2em 1em;
  margin: 2em 0 0;

  border-radius: 0.5em 0.5em 0 0;

  background-color: $lightText;
  
  font-family: $fira;
  font-size: 14px;

  h2.name {
    letter-spacing: 0.1667em;
    margin-bottom: 0.3em;
    font-family: $styleText;
    position: relative;
    display: block;
  }

  input[type=text].name {
    display: inline-block;
    padding: 0.1em 0;
    margin: 0.5em 0 1em;

    font-size: 30px;
    letter-spacing: 0.1667em;
    font-family: $styleText;

    background-color: transparent;

    border: 0;
    border-bottom: 1px dashed $charcoal;
  }

  h3.subHead {
    margin-top: 0;
    font-variant: small-caps;
    font-size: 1.5em;
    letter-spacing: 0.05em;
  }

  .description {
    line-height: 1.8em;
    padding: 0.1rem 0.5rem;
    font-size: 0.9em;

    .capitalize {
      text-transform: capitalize;
    }
  }

  a.backButton {
    display: inline-block;
    margin: 1em 0 0;
    padding: 0 0.33em;
    line-height: 1.4em;
    border-bottom: 1px solid $dndRed;
    
    background: transparent;
    
    color: $charcoal;
    font-size: 14px;
    font-family: $fira;
    letter-spacing: 0.085em;
    
    cursor: pointer;
  }

  .displayLayout {
    column-count: 2;
    font-size: 14px;
    font-family: $sansText;
    line-height: 1.66em;
  
    p {
      margin: 0;
      position: relative;
    }
  }

  .emjoiIcon {
    // top: -0.25em;
    top: 0em;
    margin-left: 0.33em;
    position: relative;
    font-size: 14px;
    cursor: pointer;
    line-height: 1rem;
    
    &.seed {
      position: absolute;
      right: 6.25em;
      top: 1.5em;
    }
    
    &.save {
      position: absolute;
      right: 1.5em;
      top: 1.5em;
    }

    &.copyData {
      position: absolute;
      top: 1.5em;
      right: 4em;
    }

    &.text {
      text-transform: none;
    }
        
    &::after {
      letter-spacing: 0.075em;
      font-size: 0.75rem;
      font-family: $fira, $monoSpace;
    }
  }

  .explanation {
    display: block;
    margin-top: 3em;
    opacity: 0.8;
    font-family: $fira;
    font-size: 0.7em;

    .icon {
      font-size: 11px;
    }
  }


  ul.information {
    max-width: 45em;
    list-style-type: none;
    padding-left: 0;
    column-count: 3;
    margin: 0;
    padding-left: 0.5em;

    li {
      display: inline-block;
      line-height: 2em;
      font-size: 0.9em;

      strong {
        display: inline-block;
        // margin-right: 0.3em;
        width: 7.5em;
      }

      span.result {
        text-transform: capitalize;
      }
    }
  }

  li.infoTableRow {
    font-size: 0.9em;
    line-height: 1.1em;
    margin: 5px 0;
    padding: 0.2em 0.4em;
    border-bottom: 1px dotted rgba($charcoal, 0.3);
    break-inside: avoid;
    font-family: $monoSpace;

    &:hover {
      background-color: rgba($white, 0.66);
    }

    &.zero {
      color: $midTone;

      &:hover {
        // color: $charcoal;
        border-bottom-color: $moodGreen;
      }
    }

    &.numeric {
      display: flex;
      justify-content: space-between;
    }

    &.names {
      // font-style: italic;
    }

  }
}