@import "../../../styles/mixins.scss";

.heading {
  margin: 1em 0 0.25em;
  text-transform: capitalize;
  border: 0;
}

.infoTable {
  margin: 0.25em 0;
  padding: 0;
  column-count: 3;
  column-gap: 1em;
  break-inside: avoid-column;
  list-style-type: none;

  li {
    font-size: 0.9rem;
    line-height: 1.1em;
    padding: 0.25em 1em;
    break-inside: avoid;
    font-family: $sansText;

    &:hover {
      background-color: rgba($charcoal, 0.66);
    }

    &.zero {
      color: $midTone;

      &:hover {
        border-bottom-color: $moodGreen;
      }
    }

    &.numeric {
      display: flex;
      justify-content: space-between;
    }
  }
}
