@import "../../styles/mixins";

article.displayOutput {
  position: relative;
  display: block;
  width: 100%;

  padding: 0 2em 1em;
  margin: 2em 0 0;

  border-radius: 0.5em 0.5em 0 0;

  background-image: url("../../img/chalkboard.jpg");
  background-color: #151515;
  color: $lightText;

  font-family: $fira;
  font-size: 14px;

  .name {
    letter-spacing: 0.1667em;
    margin-bottom: 0.3em;
    font-family: $styleText;
    position: relative;
    display: block;
  }

  input[type="text"].name {
    display: inline-block;
    padding: 0.1em 0;
    margin: 0.5em 0 1em;

    font-size: 30px;
    letter-spacing: 0.1667em;
    font-family: $styleText;

    background-color: transparent;

    border: 0;
    border-bottom: 1px dashed $charcoal;
  }

  .subHead {
    margin-top: 0;
    font-variant: small-caps;
    font-size: 1.5em;
    letter-spacing: 0.05em;
  }

  .description {
    line-height: 1.8em;
    padding: 0.1rem 0.5rem;
    font-size: 0.9em;

    .capitalize {
      text-transform: capitalize;
    }
  }

  .backButton {
    display: inline-block;
    margin: 1em 0 0;
    padding: 0 0.33em;
    line-height: 1.4em;
    border: 0;
    border-bottom: 1px solid $dndRed;

    background: transparent;

    color: $lightText;
    font-size: 14px;
    font-family: $fira;
    letter-spacing: 0.085em;

    cursor: pointer;
  }

  .explanation {
    display: block;
    margin-top: 3em;
    opacity: 0.8;
    font-family: $fira;
    font-size: 0.7em;

    .icon {
      font-size: 11px;
    }
  }

  .infoTableRow {
    font-size: 0.9em;
    line-height: 1.1em;
    margin: 5px 0;
    padding: 0.2em 0.4em;
    border-bottom: 1px dotted rgba($charcoal, 0.3);
    break-inside: avoid;
    font-family: $monoSpace;

    &:hover {
      background-color: rgba($white, 0.66);
    }

    &.zero {
      color: $midTone;

      &:hover {
        border-bottom-color: $moodGreen;
      }
    }

    &.numeric {
      display: flex;
      justify-content: space-between;
    }
  }

  // ul.standardUl {
  //   list-style: none;

  //   padding: 0 0;

  //   line-height: 1.8em;

  //   font-size: 14px;
  //   font-family: $sansText;
  // }

  // .singleItemColum {
  //   margin-top: 1em;
  //   width: 50%;
  // }

  // .twoColumn {
  //   margin-top: 1em;
  //   column-count: 2;
  //   column-gap: 4em;
  //   break-inside: avoid;
  // }

  // .threeColumn {
  //   margin-top: 1em;
  //   column-count: 3;
  //   column-gap: 3em;
  //   break-inside: avoid;
  // }

  // .fourColumn {
  //   margin-top: 1em;
  //   column-count: 4;
  //   column-gap: 3em;
  //   break-inside: avoid;
  // }
}

@media screen and (max-width: $breakpoint-mobile) {
  article.displayOutput {
    width: calc(#{$mobileWidth} - 6vw);
    padding: 0 $mobileSidePadding 1em;
    margin-top: 5em;

    .displayLayout {
      column-count: 1;

      .column {
        margin-bottom: 2em;
      }

      p {
        line-height: 2em;
        strong {
          margin-right: 0.25em;
        }

        .emjoiIcon {
          margin-left: 1em;
        }
      }
    }

    .twoColumn {
      column-count: 1;
      column-gap: 5vw;

      li.infoTableRow {
        margin-bottom: 1em;
      }
    }

    .threeColumn {
      column-count: 2;
      column-gap: 5vw;
    }

    input[type="text"].name {
      margin-top: 1em;
      font-size: 24px;
    }

    .iconContainer {
      top: -2em;
      width: 100%;
    }
  }
}
