@import "../../../styles/mixins";

.hirelings {
  &__rules {
    margin: 1rem 5em;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    line-height: 1.5em;
    max-height: 200px;
  }

  .hirelingsTable {
    font-size: 12px;
    width: 100%;

    tr:nth-child(2n) {
      background-color: rgba(#fff, 0.1);
    }

    th {
      border-bottom: 3px solid #fff;
      text-align: left;
      padding: 0.5em 0.33em;
    }

    td {
      padding: 0.5em 0.66em 0.5em 0;
    }
  }

  .center {
    text-align: center;
  }

  .subHead {
    letter-spacing: 0.1em;
  }

  .info {
    &Table {
      &__row {
        padding: 0.5em;

        &:hover {
          background-color: transparent;
        }
      }
    }
    &__value {
      margin-left: 0.5em;
    }
  }
}
